/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Fonts */

@font-face {
  font-family: Chunk;
  src: url("Chunk.otf") format("opentype");
}

@font-face {
  font-family: Prociono;
  src: url("Prociono.otf") format("opentype");
}

@font-face {
  font-family: Raleway;
  src: url("Raleway\ Thin.otf") format("opentype");
}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  text-align: center;
}


.title {
  margin-bottom: .4em;
  font-family: Chunk;
  color: #ff6c00;
  font-weight: normal;
}

.pagetitle {
  font-weight: normal;
  font-family: Chunk;
}

.postindex {
  font-family: Chunk;
  font-weight: normal;
  font-size: 1.8em;
  margin-bottom: .4em;
}

p { margin: 1em 0; }

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #333333;
  font-family: Helvetica;
  font-size: 80%;
}

ul.posts a {
}

p {
  font-family: Prociono;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 60%;
  margin: 3em auto 2em;
  line-height: 1.5em;
}


.site .header h1.title {
  display: inline-block;
}

hr {
  margin-bottom: 3em;
  height: 3px;
  background-color: black;
}

.site .header h1.title a {
}

.header {
  width: 97%;
  margin-left: auto;
  margin-right: auto;
}

.site .header h1.title a:hover {
}

.site .header a.extra {
  margin-top: .3em;
  font-family: Prociono;
  color: #666666;
}

a {
  font-family: Prociono;
  color: #666666;
  text-decoration: none;
}

a:hover {
  color: #000;
}

.site .header a.extra:hover {
  color: #000;
}

#content {
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
}

#content h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: Chunk;
}

a.extra {
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
}

hr.mini {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 3em;
}
}

#rightmost {
  text-decoration: none;
  margin-left: 10px;
  margin-right: 0px;
}

#extras {
  float: right;
}

.site .meta {
  color: #aaa;
  font-size: 14px;
  margin-top: .3em;
}

.footer {
  margin-top: 3em;
  text-align: center;
  font-family: Prociono;
  font-size: 10px;
}

.footer hr {
  margin-bottom: .8em;
  margin-top: 3.5em;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Container
/*
/*****************************************************************************/

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post h1, h2, h3, h4, h5, h6 {
  font-family: Chunk;
}

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
